h3{
 color:darkblue;   
}

#navbar{
    display: flex;
    justify-content: space-evenly;
}

a:link, a:visited {
    text-decoration: none;
}

#navbar a:link, #navbar a:visited {
    background-color: aqua;
    display: block;
    width: 125px;
    text-align: center;
    padding: 10px 0 10px;
    font-size: medium;
}

#navbar a:hover {
    background-color: aquamarine;
}

#navbar a:active {
    background-color: antiquewhite;
    font-size: small;
    padding: 11px 0 11px;
    color: red;
}

#boxmodel {
    display: block;
}

#rlebutton {
    clear: left;
}

#rlebutton a:link, #rlebutton a:visited{
    background-color: crimson;
    display: block;
    width: 300px;
    text-align: center;
    padding: 10px 0 10px;
    font-size: large;
    color: white;
}

#rlebutton a:hover {
    background-color: orange;
}

#rlebutton a:active {
    background-color: purple;
}